@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
/* @import '~aos/dist/aos.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Rancho', cursive;

}

.active {
    color: #E3B577;
}

.button {
    color: #242222;
    font-family: Rancho;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 48px;
    flex-shrink: 0;
    background: #E3B577;
    border: 2px solid #E3B577;
    transition: 0.5s ease;
    outline-offset: 4px;
    outline: 3px solid #E3B577;

}

.btn-w {
    width: 130px;
}

.button:hover {
    /* background: transparent; */
    /* color: white; */
    opacity: 0.8;
    transform: scale(.9);
    /* border: 2px solid white; */
    /* outline: 3px solid white; */
}

.button-footer {
    color: #242222;
    font-family: Rancho;
    padding: 5px 15px;
    color: #331A15;
    font-family: Rancho;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    background: transparent;
    border: 2px solid #331A15;
    transition: 0.5s ease;
}

.button-footer:hover {
    background: #E3B577;
    color: white;
    border: 2px solid #E3B577;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}